<?xml version='1.0' encoding='utf-8'?>
<!--
  WiX v4 source file for exbar-cli installer.
  Built with WiX Toolset v7 using wix build directly.

  Variables provided at build time (via -d flag to wix build):
    Version           = Package version (e.g. 0.1.0)
    CargoTargetBinDir = Path to directory containing exbar.exe
    WixDir            = Path to this wix\ directory (for License.rtf)
-->

<?if $(sys.BUILDARCH) = x64 or $(sys.BUILDARCH) = arm64 ?>
    <?define PlatformProgramFilesFolder = "ProgramFiles64Folder" ?>
<?else ?>
    <?define PlatformProgramFilesFolder = "ProgramFilesFolder" ?>
<?endif ?>

<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">

    <Package
        Name="Exbar"
        Version="$(Version)"
        Manufacturer="Jamison Wilde"
        UpgradeCode="E47632D3-B73C-4EE3-B987-D2E04332BCDB"
        Language="1033"
        Compressed="yes"
        Scope="perMachine">

        <SummaryInformation Description="Explorer Bar for Windows Explorer" />

        <MajorUpgrade
            Schedule="afterInstallInitialize"
            DowngradeErrorMessage="A newer version of [ProductName] is already installed. Setup will now exit." />

        <MediaTemplate EmbedCab="yes" />

        <StandardDirectory Id="$(PlatformProgramFilesFolder)">
            <Directory Id="APPLICATIONFOLDER" Name="Exbar">
                    <Component Id="License" Guid="*">
                        <File Id="LicenseFile"
                            Source="$(WixDir)\License.rtf"
                            KeyPath="yes" />
                    </Component>

                    <Directory Id="Bin" Name="bin">
                        <Component Id="Path" Guid="18550E14-BC3B-403F-93F6-7559B8A5A9DE">
                            <Environment
                                Id="PATH"
                                Name="PATH"
                                Value="[Bin]"
                                Permanent="no"
                                Part="last"
                                Action="set"
                                System="yes" />
                            <RegistryValue
                                Root="HKLM"
                                Key="SOFTWARE\Exbar"
                                Name="PathConfigured"
                                Type="integer"
                                Value="1"
                                KeyPath="yes" />
                        </Component>
                        <Component Id="binary0" Guid="*">
                            <File
                                Id="exe0"
                                Name="exbar.exe"
                                Source="$(CargoTargetBinDir)\exbar.exe"
                                KeyPath="yes" />
                        </Component>
                    </Directory>
                </Directory>
        </StandardDirectory>

        <Feature
            Id="Binaries"
            Title="Application"
            Description="Installs all binaries and the license."
            Level="1"
            ConfigurableDirectory="APPLICATIONFOLDER"
            AllowAdvertise="no"
            Display="expand">
            <ComponentRef Id="License" />
            <ComponentRef Id="binary0" />

            <Feature
                Id="Environment"
                Title="PATH Environment Variable"
                Description="Add the install location of the [ProductName] executable to the PATH system environment variable. This allows the [ProductName] executable to be called from any location."
                Level="1">
                <ComponentRef Id="Path" />
            </Feature>
        </Feature>

        <SetProperty Id="ARPINSTALLLOCATION" Value="[APPLICATIONFOLDER]" After="CostFinalize" />

        <!--
          Uncomment to set a product icon in Add/Remove Programs:
          <Icon Id="ProductICO" SourceFile="wix\Product.ico" />
          <Property Id="ARPPRODUCTICON" Value="ProductICO" />
        -->

        <!--
          Uncomment to add a help URL in Add/Remove Programs:
          <Property Id="ARPHELPLINK" Value="https://github.com/yourname/exbar" />
        -->

        <ui:WixUI Id="WixUI_FeatureTree" />

        <WixVariable Id="WixUILicenseRtf" Value="$(WixDir)\License.rtf" />

        <!--
          Uncomment to customize installer GUI images:
          <WixVariable Id="WixUIBannerBmp" Value="wix\Banner.bmp" />
          <WixVariable Id="WixUIDialogBmp" Value="wix\Dialog.bmp" />
        -->

    </Package>

</Wix>
